{% extends 'base.html' %}

{% block header_right %}
<p class="text-right my-2">
    Hello, {{ current_user.username }}!
    <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary btn-sm">Logout</a>
</p>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('menu', admin=1) }}" class="btn btn-link btn-sm mb-3">&lt;- Return to Menu</a>
            <section>
                <h2 class="mb-4">Borrow Records</h2>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td>{{ record[0] }}</td>
                            <td>{{ record[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
{% endblock %}